<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link rel="stylesheet" type="text/css" href="../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <script src="../js/login.js"></script>
  <title>Log-In</title>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-image-container">
        <img class="header-logo-radium-rocket"
          alt="Radium rocket logo"
          src="../../Assets/Images/main-logo-radiumrocket.png">
      </div>
      <div class="header-titles-container">
        <h1 class="header-title-text">The best gym</h1>
        <p class="header-subtitle-text">Mega rocket s.a.</p>
      </div>
      <div class="header-burger-container">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </header>
  <main>
    <aside>
      <div class="aside-container">
        <h1><span>Radium</span>Rocket</h1>
        <nav>
          <ul>
            <li><a href="./login.html">Log-In</a></li>
            <li><a href="./sign-up.html">Sign-Up</a></li>
            <li><a href="./index.html">Home</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <section class="login-section-container">
      <div class="login-form-container">
        <div class="login-form-title-box">
          <h2>Log-In</h2>
        </div>
        <form id="login-form">
          <p class="login-form-error"></p>
          <fieldset>
            <input type="text" name="email" placeholder="Email">
            <label for="email">Email</label>
          </fieldset>
          <fieldset>
            <input type="text" name="password" placeholder="Password">
            <label for="password">Password</label>
          </fieldset>
          <fieldset>
            <input type="checkbox" name="remember-me">
            <label for="remember-me">Remember me</label>
          </fieldset>
          <button type="submit" name="continue">Continue</button>
        </form>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer-container">
      <div class="footer-social-media-box">
        <a href="#"><img class="icon-facebook" src="../../Assets/Images/footer-social-logo-facebook.png" alt="Facebook logo"></a>
        <a href="#"><img class="icon-instagram" src="../../Assets/Images/footer-social-logo-instagram.png" alt="Instagram logo"></a>
        <a href="#"><img class="icon-twitter" src="../../Assets/Images/footer-social-logo-twitter.png" alt="Twitter logo"></a>
      </div>
      <div class="footer-copyright-box">
        <p>Copyright © 2019. Todos los derechos reservados</p>
      </div>
    </div>
  </footer>
</body>
</html>