header{
    background-color: #D9D9D9;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
}

.header-img-container, .header-burger-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.header-img-container{
    width: 33%;
}

.header-img-container img{
    width: 57px;
    height: 64px;
}

.header-titles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
}

.header-title-text{
    font-size: 1.25em;
    align-self: center;
}

.header-subtitle-text{
    font-size: 0.56em;
    align-self: flex-end;
}

.header-burger-container{
    flex-direction: column;
}

.header-burger-container div{
    width: 24px;
    height: 2px;
    background-color: #373867;
    margin: 2px 0;
}