/*Menu*/
aside{
    display: none;
    z-index: -100;
    float: right;
    background-color: #373867;
    color: #fff;
    width: 100%;
}

aside a{
    color: #fff;
    text-decoration: none;
}

aside ul{
    margin: 20px 0px 20px 0px;
    text-align: center;
}

aside li{
    padding: 1em 1em;
    text-transform: uppercase;
}

.aside-container{
    display: flex;
    flex-direction: column;
}

/*Top*/
.top-section{
    background-image: url("../../Assets/Images/top-background-banner.png");
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 245px;
}

.top-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 245px;
    text-align: center;
}

.top-section h2{
    font-size: 1.19em;
    text-transform: uppercase;
}

.top-section p{
    margin-top: 17px;
    width: 80%;
    font-size: 0.625em;
    font-weight: 400;
    line-height: 0.9375em;
}

/*Advertisement*/
.advertisement-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 182px;
    text-align: center;
}

.advertisement-section-container h2{
    font-size: 1.25em;
    text-transform: uppercase;
}

.advertisement-section-container p{
    width: 309px;
    margin-top: 30px;
    font-size: 0.9375em;
    line-height: 1.09875em;
}

.advertisement-image{
    display: none;
}

/*Activities*/
.activities-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1581px;
}

.activities-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 80%;
    height: 53px;
    background-color: #373867;
}

.activities-section-container h2{
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.activities-section-container img{
    width: 269px;
    height: 270px;
}


/*Membership*/
.membership-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 80%;
    height: 53px;
    margin: 70px 0px 60px 0px;
    background-color: #373867;
}

.membership-section-container h2{
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.membership-article-container-classes, .membership-article-container-classic, .membership-article-container-black{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article img{
    width: 100%;
    height: 326.61px;
}

.membership-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 485px;
    margin: -56.65px 0px 59.82px 0px;
    background-color: #fff;
}

.membership-card-top-box{
    width: 100%;
    height: 46.66px;
    border-radius: 3.82px;
    background-color: #37386766;
}

.membership-card-container h3{
    width: 70%;
    font-size: 1.9125em;
    line-height: 1.12em;
    text-align: center;
    text-transform: uppercase;
}

h3 span{
    color: #AACE9B;
}

.membership-card-container ul, p{
    font-size: 0.95625em;
    font-weight: 400;
    text-align: left;
}

.membership-card-container li{
    padding-bottom: 16.83px;
    list-style-image: url('../../Assets/Images/member-check.png');
}

.membership-card-separation-line{
    background-color: #373867;
    width: 100%;
    height: 1px;
}

.membership-card-bottom-text{
    width: 70%;
}

.membership-card-bottom-confirm-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #49A37B;
    color: #fff;
}

.membership-card-bottom-confirm-box p{
    font-size: 1.9125em;
    text-transform: uppercase;
}

/*Info*/
.info-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 546px;
    background-color: #AACE9B;
    color: #fff;
}

.info-section-container h3{
    width: 65%;
    font-size: 3.28125em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.info-section-container article{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 45%;
    font-size: 1.25em;
    font-weight: 400;
}

.info-section-container h4{
    text-transform: uppercase;
}

.info-section-container img{
    width: 128.79px;
    height: 128.79px;
}

.info-article-reservation{
    display: flex;
}

.info-article-membership{
    display: none;
}

.info-article-schedule{
    display: none;
}

.info-article-contact{
    display: none;
}

/*Form*/
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 738px;
}

.form-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 313px;
    height: 532px;
    border-radius: 20px;
    background-color: #fff;
}

.form-section-container h4{
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
}

.form-question-one, .form-question-two, .form-question-three{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 0px;
    font-size: 0.5em;
    font-weight: 500;
}

.form-question-one, .form-question-two, .form-question-three, .form-section-container input{
    height: 34px;
    border: 1px solid #373867;
    border-radius: 5px;
}

.form-question-one, .form-question-two, .form-question-three, .form-bottom-name, .form-bottom-email, .form-bottom-text-area-container{
    margin: 27px 0px 0px 25px;
}

.form-question-one{
    width: 140px;
}

.form-question-two{
    width: 196px;
}

.form-question-three{
    width: 246px;
}

.form-bottom-name, .form-bottom-surname{
    width: 116px;
}

.form-bottom-email{
    width: 242px;
}

.form-bottom-text-area-container{
    display: flex;
    flex-direction: column-reverse;
}

.form-bottom-text-area-container label{
    font-size: 0.8125em;
    font-weight: 500;
}

.form-bottom-text-area-container textarea{
    width: 247px;
    height: 65px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.form-bottom-input-submit{
    margin-left: 115px;
    width: 83px;
    height: 27.54px;
    font-size: 0.625em;
    font-weight: 500;
    background-color: #AACE9B;
}

@media(min-width: 390px) and (max-width: 600px){
    /*// estilos correspondientes a mobile*/
}
@media(min-width: 601px) and (max-width: 1024px) {
    /*// estilos correspondientes a tablet*/
}
@media(min-width: 1024px) {
    aside{
        display: flex;
        justify-content: center;
        float: left;
        width: 20%;
        height: 5697px;
    }
    
}