main{
    display: flex;
}

aside{
    display: none;
    background-color: #373867;
    color: #fff;
}

aside a{
    color: #fff;
    text-decoration: none;
}

aside ul{
    margin: 20px 0px 20px 0px;
    text-align: center;
}

aside li{
    padding: 1em 1em;
    text-transform: uppercase;
}

.top-section{
    background-image: url("../../Assets/Images/top-background-banner.png");
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100vw;
    height: 245px;
}

.top-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 245px;
}

.top-section h2{
    font-size: 1.19em;
    text-transform: uppercase;
}

.top-section p{
    margin-top: 5%;
    width: 70%;
    font-size: 0.625em;
    font-weight: 400;
    line-height: 0.9375em;
    text-align: center;
}

.advertisement-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 182px;
}

.advertisement-section-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertisement-section-container h2{
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
}

.advertisement-section-container p{
    width: 80%;
    margin-top: 30px;
    font-size: 0.9375em;
    line-height: 1.09875em;
    text-align: center;
}

.advertisement-image{
    display: none;
}

/*Activities*/
.activities-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.activities-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 80%;
    height: 53px;
    margin-bottom: 10%;
    background-color: #373867;
}

.activities-section-container h2{
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.activities-section-container img{
    width: 269px;
    height: 270px;
}

.membership-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 80%;
    height: 53px;
    margin: 70px 0px 60px 0px;
    background-color: #373867;
}

.membership-section-container h2{
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
}

.membership-article-container-classes, .membership-article-container-classic, .membership-article-container-black{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-section img{
    width: 80%;
}

.membership-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: -15% 0 20% 0px;
    background-color: #fff;
}

.membership-card-top-box{
    width: 100%;
    height: 46.66px;
    border-radius: 3.82px;
    background-color: #37386766;
}

.membership-card-container h3, .membership-card-container ul, .membership-card-bottom-text, .membership-card-bottom-confirm-box{
    margin-top: 5%;
}

.membership-card-container h3{
    font-size: 1.9125em;
    line-height: 1.12em;
    text-align: center;
    text-transform: uppercase;
}

h3 span{
    color: #AACE9B;
}

.membership-card-container ul, p{
    font-size: 0.95625em;
    font-weight: 400;
    text-align: left;
}

.membership-card-container li{
    margin-left: 10%;
    padding-bottom: 16.83px;
    list-style-image: url('../../Assets/Images/member-check.png');
}

.membership-card-separation-line{
    background-color: #373867;
    width: 100%;
    height: 1px;
}

.membership-card-bottom-text{
    width: 70%;
}

.membership-card-bottom-confirm-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #49A37B;
    color: #fff;
}

.membership-card-bottom-confirm-box p{
    font-size: 1.9125em;
    text-transform: uppercase;
}

.info-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AACE9B;
    color: #fff;
}

.info-section-container article{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.info-text-container, .info-section-container img{
    margin: 10% 0 10% 0;
}

.info-text-container{
    margin: 0 10% 10% 0;
}

.info-section-container h3{
    margin-top: 10%;
    font-size: 3em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.info-section-container h4, p{
    font-size: 1.25em;
    font-weight: 400;
}

.info-section-container h4 {
    text-transform: uppercase;
}

.info-section-container img{
    width: 128.79px;
    height: 128.79px;
}

.info-article-reservation{
    display: flex;
}

.info-article-membership{
    display: none;
}

.info-article-schedule{
    display: none;
}

.info-article-contact{
    display: none;
}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 738px;
}

.form-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 313px;
    height: 532px;
    border-radius: 20px;
    background-color: #fff;
}

.form-section-container h4{
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
}

.form-question-one, .form-question-two, .form-question-three{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 0px;
    font-size: 0.5em;
    font-weight: 500;
}

.form-question-one, .form-question-two, .form-question-three, .form-section-container input{
    height: 34px;
    border: 1px solid #373867;
    border-radius: 5px;
}

.form-question-one, .form-question-two, .form-question-three, .form-bottom-name, .form-bottom-email, .form-bottom-text-area-container{
    margin: 27px 0px 0px 25px;
}

.form-question-one{
    width: 140px;
}

.form-question-two{
    width: 196px;
}

.form-question-three{
    width: 246px;
}

.form-bottom-name, .form-bottom-surname{
    width: 116px;
}

.form-bottom-email{
    width: 242px;
}

.form-bottom-text-area-container{
    display: flex;
    flex-direction: column-reverse;
}

.form-bottom-text-area-container label{
    font-size: 0.8125em;
    font-weight: 500;
}

.form-bottom-text-area-container textarea{
    width: 247px;
    height: 65px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.form-bottom-input-submit{
    margin-left: 115px;
    width: 83px;
    height: 27.54px;
    font-size: 0.625em;
    font-weight: 500;
    background-color: #AACE9B;
}

@media(min-width: 390px) and (max-width: 600px){
    aside{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 245px;
    }
}

@media(min-width: 601px) and (max-width: 1023px) {
    aside{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 245px;
    }

    .top-section{
        background-position: center;
        height: 539px;
    }

    .top-section-container{
        height: 539px;
    }

    .top-section h2{
        font-size: 2.5em;
    }

    .top-section p{
        margin-top: 44px;
        width: 75%;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.5em;
        text-align: center;
    }

    .advertisement-section-container{
        flex-direction: row;
        justify-content: space-around;
        height: 500px;
    }
    
    .advertisement-section-container h2{
        font-size: 1.9em;
    }
    
    .advertisement-section-container p{
        margin-top: 30px;
        font-size: 1.4em;
        line-height: 1.4em;
    }
    
    .advertisement-image{
        display: block;
        width: 50%;
    }

    .activities-section-container{
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .activities-title-box{
        height: 112px;
    }

    .activities-section-container h2{
        font-size: 2.5em;
    }

    .membership-section-container h2{
        font-size: 2.2em;
    }
    
    .membership-article-container-classes, .membership-article-container-classic, .membership-article-container-black{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .membership-card-container{
        width: 60%;
    }

    .membership-card-container h3{
        font-size: 2.2em;
    }

    .membership-card-container ul, p{
        font-size: 1.2em;
    }

    .membership-card-bottom-confirm-box{
        height: 95px;
    }

    .membership-card-bottom-confirm-box p{
        font-size: 2.5em;
    }

    .info-section-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .info-section-container h3{
        font-size: 3em;
        line-height: 1.4em;
    }
    
    .info-section-container article{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .info-section-container h4, p{
        font-size: 1.25em;
    }
    
    .info-section-container img{
        width: 273px;
        height: 280px;
    }
    
    .form-section-container{
        width: 70%;
    }

    .form-section-container h4{
        font-size: 1.25em;
        font-weight: 500;
        text-transform: uppercase;
        align-self: center;
    }

    #landing-bottom-question-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-question-one, .form-question-two, .form-question-three, .form-bottom-name, .form-bottom-surname, .form-bottom-email, .form-bottom-text-area-container{
        margin-top: 27px;
    }

    .form-question-one{
        width: 35%;
    }

    .form-question-two{
        width: 45%;
    }

    .form-question-three{
        width: 60%;
    }

    .form-bottom-name, .form-bottom-surname{
        width: 35%;
    }

    .form-bottom-surname{
        margin-left: 6%;
    }

    .form-bottom-email{
        width: 77%;
    }

    .form-bottom-text-area-container{
        display: flex;
        flex-direction: column-reverse;
        width: 77%;
    }

    .form-bottom-text-area-container label{
        font-size: 0.8125em;
        font-weight: 500;
    }

    .form-bottom-text-area-container textarea{
        width: 100%;
    }

    .form-bottom-input-submit{
        width: 20%;
        margin: 0;
        font-size: 0.9em;
    }
}

@media(min-width: 1024px) {
    aside{
        display: flex;
        justify-content: center;
        min-width: 20%;
        max-width: 25%; /*Change to pixel*/
    }

    aside a, aside p{
        font-size: 1.3em;
    }

    .top-section{
        width: 100%;
        height: 624px;
    }
    
    .top-section-container{
        height: 624px;
    }
    
    .top-section h2{
        font-size: 3em;
    }
    
    .top-section p{
        font-size: 1.2em;
        line-height: 1.4em;
    }

    .advertisement-section-container{
        flex-direction: row;
        justify-content: space-around;
        height: 500px;
    }
    
    .advertisement-section-container h2{
        font-size: 1.9em;
    }
    
    .advertisement-section-container p{
        margin-top: 30px;
        font-size: 1.4em;
        line-height: 1.4em;
    }
    
    .advertisement-image{
        display: block;
        width: 50%;
    }

    .activities-section-container{
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .activities-title-box{
        width: 70%;
        height: 112px;
    }

    .activities-section-container h2{
        font-size: 2.5em;
    }

    .membership-title-box{ /*Change*/
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        width: 50%;
        height: 53px;
        margin: 70px 0px 60px 0px;
        background-color: #373867;
    }
    
    .membership-section-container h2{
        color: #fff;
        font-size: 1.25em;
        text-transform: uppercase;
    }

    .membership-articles-container{
        display: flex;
        justify-content: space-around;
    }
    
    .membership-card-container h3{
        font-size: 1.6em;
    }
    
    .membership-card-container ul, p{
        font-size: 0.95625em;
        font-weight: 400;
        text-align: left;
    }

    .info-section-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .info-section-container h3{
        font-size: 3em;
        line-height: 1.4em;
    }
    
    .info-section-container article{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .info-section-container h4, p{
        font-size: 1.25em;
    }
    
    .info-section-container img{
        width: 273px;
        height: 280px;
    }

    .form-section-container{
        width: 70%;
    }

    .form-section-container h4{
        font-size: 2em;
        font-weight: 500;
        text-transform: uppercase;
        align-self: center;
    }

    #landing-bottom-question-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-question-one, .form-question-two, .form-question-three, .form-bottom-name, .form-bottom-surname, .form-bottom-email, .form-bottom-text-area-container{
        margin-top: 27px;
    }

    .form-question-one, .form-question-two, .form-question-three{
        font-size: 0.8em;
    }

    .form-question-one{
        width: 35%;
    }

    .form-question-two{
        width: 45%;
    }

    .form-question-three{
        width: 60%;
    }

    .form-bottom-name, .form-bottom-surname{
        width: 35%;
    }

    .form-bottom-surname{
        margin-left: 6%;
    }

    .form-bottom-email{
        width: 77%;
    }

    .form-bottom-text-area-container{
        display: flex;
        flex-direction: column-reverse;
        width: 77%;
    }

    .form-bottom-text-area-container label{
        font-size: 1em;
        font-weight: 500;
    }

    .form-bottom-text-area-container textarea{
        width: 100%;
    }

    .form-bottom-input-submit{
        width: 20%;
        margin: 5% 0 0 0;
        font-size: 0.9em;
    }
}